# CIAN.ru

In [166]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time
from math import sin, cos, sqrt, radians

In [167]:
def html_stripper(text):
    return re.sub('<[^<]+?>', '', str(text))

**Словарь, содержащий информацию о квартирах Москвы**

In [168]:
#Создание словаря с клчючом "District". По этому ключу будет хранится список,  
flatStats = {'District':[]} #инициализация списка, хранящего сведения о квартирах

**Введём численные обозначения округов Москвы**:
* 0 - ЦАО
* 1 - САО
* 2 - СВАО
* 3 - ВАО
* 4 - ЮВАО
* 5 - ЮАО
* 6 - ЮЗАО
* 7 - ЗАО
* 8 - СЗАО
* 9 - НАО
* 10 - ТАО

# Описание парсинга для ЦАО, для остальных округов действия будут аналогичными.
### Для ЦАО находим главную ссылку и в ней находим **&p=1&**, это и есть переход по страницам.

In [169]:
district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=13&district%5B1%5D=14&district%5B2%5D=15&district%5B3%5D=16&district%5B4%5D=17&district%5B5%5D=18&district%5B6%5D=19&district%5B7%5D=20&district%5B8%5D=21&district%5B9%5D=22&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'

In [170]:
district

'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=13&district%5B1%5D=14&district%5B2%5D=15&district%5B3%5D=16&district%5B4%5D=17&district%5B5%5D=18&district%5B6%5D=19&district%5B7%5D=20&district%5B8%5D=21&district%5B9%5D=22&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'

### Шагаем по страницам и качаем с них все ссылки на квартиры

In [171]:
links = []
for page in range(1, 30):
    page_url =  district.format(page)

    search_page = requests.get(page_url)
    search_page = search_page.content
    search_page = BeautifulSoup(search_page, 'lxml')

    flat_urls = search_page.findAll('div', attrs = {'ng-class':"{'serp-item_removed': offer.remove.state, 'serp-item_popup-opened': isPopupOpen}"})
    flat_urls = re.split('http://www.cian.ru/sale/flat/|/" ng-class="', str(flat_urls))

    for link in flat_urls:
        if link.isdigit():
            links.append(link)

In [172]:
links

['51730284',
 '149441292',
 '150882487',
 '149031259',
 '150346368',
 '149031321',
 '148794719',
 '150640194',
 '149849414',
 '149300855',
 '145609912',
 '149788538',
 '149727197',
 '149565205',
 '150463857',
 '148800467',
 '149031347',
 '148112883',
 '149031380',
 '149031376',
 '150459322',
 '150679023',
 '150678964',
 '150684424',
 '150720249',
 '147655377',
 '149031235',
 '150684509',
 '149896609',
 '150378355',
 '7368057',
 '150684571',
 '150627596',
 '150706578',
 '19220848',
 '150519279',
 '148829580',
 '149031293',
 '150378060',
 '150974485',
 '150545360',
 '149808503',
 '150645957',
 '150118457',
 '149031344',
 '150833962',
 '149031368',
 '149031262',
 '149390159',
 '149063476',
 '149507223',
 '149507258',
 '149031387',
 '149213362',
 '150945577',
 '146275883',
 '149172363',
 '150047932',
 '2929515',
 '149231113',
 '150043158',
 '149031278',
 '150638556',
 '147872339',
 '149431030',
 '150833977',
 '148677909',
 '150206839',
 '150405030',
 '149213364',
 '148024672',
 '50961693',
 '148800461',
 '149031323',
 '149298419',
 '150118455',
 '150856219',
 '149031334',
 '147398175',
 '150552626',
 '150418247',
 '149031294',
 '148901680',
 '149933253',
 '12730222',
 '150911315',
 '149659929',
 '148398513',
 '149031331',
 '144408040',
 '50540787',
 '150538968',
 '50961108',
 '150585923',
 '150389374',
 '148664905',
 '137249950',
 '149031256',
 '149031386',
 '149031231',
 '150923798',
 '150712854',
 '148350834',
 '150152817',
 '149031314',
 '149031367',
 '149330276',
 '150094573',
 '149031277',
 '149031385',
 '150975782',
 '149031383',
 '146155261',
 '150531857',
 '139715187',
 '149922809',
 '148934694',
 '149657988',
 '150515133',
 '150809777',
 '148257362',
 '147215248',
 '140323353',
 '147059590',
 '149031215',
 '148894545',
 '150118029',
 '26243062',
 '148224543',
 '147901521',
 '150315093',
 '150236079',
 '148533758',
 '149031240',
 '149920195',
 '50960928',
 '150329842',
 '50960873',
 '149842937',
 '150437958',
 '150882487',
 '141082581',
 '136808557',
 '149951233',
 '150649363',
 '149414837',
 '149146537',
 '150612489',
 '150468272',
 '144133232',
 '150639725',
 '149419090',
 '149031311',
 '150638572',
 '139550369',
 '136725466',
 '150751616',
 '149920200',
 '149031313',
 '149323017',
 '149490088',
 '149130783',
 '150713146',
 '149031213',
 '150118460',
 '149031371',
 '150738741',
 '150940127',
 '149965639',
 '4024783',
 '148324867',
 '150211678',
 '149781961',
 '150911073',
 '147978925',
 '150235286',
 '148653881',
 '149031270',
 '150871176',
 '150541005',
 '150638655',
 '149007233',
 '150876664',
 '17264878',
 '148884599',
 '150827072',
 '150853943',
 '150689132',
 '150921893',
 '150876128',
 '149409653',
 '150736409',
 '51892024',
 '150781044',
 '150933448',
 '149397410',
 '149506603',
 '148324867',
 '150703200',
 '150912522',
 '150658322',
 '150813313',
 '149006725',
 '150658211',
 '149204655',
 '150807104',
 '150713577',
 '150057539',
 '150720845',
 '149135752',
 '150118459',
 '149031365',
 '150833989',
 '149833251',
 '149031281',
 '149586481',
 '150964813',
 '149031209',
 '149434931',
 '142987539',
 '150387502',
 '149021395',
 '148443997',
 '138125457',
 '149908048',
 '150325453',
 '21368873',
 '149600678',
 '150780674',
 '137145027',
 '150807537',
 '150885034',
 '150541205',
 '149920193',
 '149031227',
 '149782738',
 '148383684',
 '50948798',
 '150638398',
 '150291609',
 '49347326',
 '149966179',
 '150503960',
 '148215472',
 '149051482',
 '150251771',
 '148340141',
 '150332385',
 '150438708',
 '149031308',
 '148186493',
 '148053763',
 '149670587',
 '150464047',
 '149978646',
 '142254433',
 '139037740',
 '149726378',
 '150688077',
 '148440406',
 '150097553',
 '150898286',
 '50164885',
 '148506881',
 '150521993',
 '150889637',
 '148186999',
 '149794286',
 '150362484',
 '148857210',
 '148960370',
 '150516094',
 '39438035',
 '144945147',
 '149213366',
 '149031360',
 '138136081',
 '150354042',
 '150658189',
 '150797556',
 '149437933',
 '149610094',
 '149569739',
 '149213363',
 '150699334',
 '148664670',
 '150946288',
 '150639622',
 '150014542',
 '147509305',
 '148074189',
 '148904671',
 '147861743',
 '150585702',
 '150639797',
 '150518479',
 '2473024',
 '150906820',
 '150095412',
 '149433835',
 '150464109',
 '148771434',
 '149331491',
 '148895641',
 '150654690',
 '149352162',
 '150119561',
 '150828384',
 '148788569',
 '150571863',
 '137443463',
 '149902096',
 '149011459',
 '150222232',
 '149582831',
 '150866572',
 '150866571',
 '150505189',
 '149498170',
 '150828437',
 '150412172',
 '51898234',
 '13082512',
 '150754528',
 '138858988',
 '150813847',
 '150866574',
 '150697081',
 '149401409',
 '149031292',
 '150645853',
 '36857278',
 '150638327',
 '148809305',
 '150132911',
 '149863410',
 '148096080',
 '46419982',
 '149804960',
 '28430464',
 '149783852',
 '150866570',
 '142990757',
 '150638618',
 '149786011',
 '142857626',
 '150046260',
 '149442047',
 '150168434',
 '150866576',
 '149031238',
 '49243271',
 '149582832',
 '150957025',
 '148747765',
 '150452675',
 '150691440',
 '150896208',
 '138241556',
 '150155058',
 '150923969',
 '47342072',
 '148581229',
 '150222285',
 '148775714',
 '50903958',
 '150712413',
 '150867282',
 '150817627',
 '149148659',
 '148602389',
 '150193270',
 '150614763',
 '150834553',
 '149955431',
 '149825846',
 '150946102',
 '148462331',
 '147948234',
 '48903381',
 '150866577',
 '150708195',
 '150963174',
 '51514109',
 '149814138',
 '138125472',
 '149382777',
 '19468618',
 '48905786',
 '48911391',
 '150233344',
 '150814098',
 '45065393',
 '150833986',
 '21304817',
 '147822175',
 '48916606',
 '150583760',
 '150606643',
 '149249178',
 '150886618',
 '150585733',
 '150923231',
 '150890065',
 '150442670',
 '149632549',
 '149752695',
 '150798301',
 '142990748',
 '148314575',
 '145349782',
 '48902691',
 '48897086',
 '138400813',
 '149023004',
 '143796435',
 '48893631',
 '10917313',
 '148800466',
 '149031341',
 '139092621',
 '150317009',
 '148788569',
 '149630417',
 '149630245',
 '150535122',
 '146260189',
 '149215009',
 '51302824',
 '149695265',
 '149031280',
 '150722935',
 '140421640',
 '38068102',
 '150848847',
 '149714091',
 '37076788',
 '150681607',
 '149725946',
 '149434930',
 '149480768',
 '150950310',
 '149726250',
 '150245832',
 '148833217',
 '149898239',
 '150915504',
 '149541418',
 '149670596',
 '150973444',
 '148338359',
 '40346831',
 '150427925',
 '150208898',
 '150649035',
 '150500727',
 '150828482',
 '46443364',
 '50960583',
 '148648791',
 '46757132',
 '150046301',
 '48913011',
 '149213365',
 '149008335',
 '148158447',
 '150222130',
 '150291649',
 '149953398',
 '147651364',
 '149902072',
 '149902160',
 '150646235',
 '149808775',
 '150667151',
 '150218761',
 '150648547',
 '150606358',
 '149997704',
 '138033588',
 '149533392',
 '150555676',
 '147398692',
 '150438823',
 '150098520',
 '48913066',
 '149726176',
 '150164670',
 '150638601',
 '150638528',
 '148282836',
 '149371715',
 '150693231',
 '150316453',
 '150685347',
 '150424917',
 '150779927',
 '149610014',
 '51580289',
 '147848235',
 '149351101',
 '150791335',
 '149582986',
 '148676122',
 '147850458',
 '30352258',
 '150725645',
 '150828447',
 '150976598',
 '148695984',
 '150920663',
 '149670494',
 '150731534',
 '149311911',
 '150325266',
 '31159354',
 '150645880',
 '48902886',
 '150866578',
 '150638339',
 '48914756',
 '149011453',
 '149257031',
 '142254435',
 '143998881',
 '138045341',
 '150302080',
 '149542737',
 '138125473',
 '139174529',
 '48902756',
 '150638611',
 '149965639',
 '149978674',
 '148356545',
 '150958688',
 '150379764',
 '138084424',
 '48908331',
 '147356334',
 '148633478',
 '150486352',
 '150585762',
 '142987506',
 '149782804',
 '150958347',
 '150969134',
 '149011460',
 '48912546',
 '149582829',
 '150638343',
 '150739487',
 '150609086',
 '150368048',
 '149625251',
 '149354777',
 '150545571',
 '150438545',
 '148174461',
 '150926393',
 '150454045',
 '149031232',
 '150531797',
 '50398441',
 '150785130',
 '48902726',
 '48902766',
 '150391930',
 '150866579',
 '150638587',
 '136715905',
 '150600765',
 '150325273',
 '150880086',
 '150168440',
 '150168437',
 '150163195',
 '148581136',
 '150926368',
 '150111695',
 '150464161',
 '43614155',
 '150896777',
 '149734190',
 '150620675',
 '149782810',
 '148194793',
 '142254437',
 '144871905',
 '12730222',
 '149472326',
 '149041463',
 '149041370',
 '149041603',
 '150953665',
 '150149871',
 '149752700',
 '150345413',
 '149542736',
 '142254438',
 '150677118',
 '150281834',
 '150356391',
 '47470009',
 '150958778',
 '148282356',
 '147711153',
 '146224712',
 '150882490',
 '150638525',
 '149937752',
 '149813334',
 '148858563',
 '148877976',
 '144137751',
 '150110827',
 '142876744',
 '150964846',
 '144380583',
 '48903516',
 '149594058',
 '150819919',
 '149608159',
 '148158445',
 '149670358',
 '142254439',
 '149582987',
 '144021578',
 '51100663',
 '149772475',
 '147506154',
 '147072046',
 '150335936',
 '150832520',
 '150121374',
 '148232270',
 '149862171',
 '48902681',
 '148269246',
 '149840531',
 '150221863',
 '148511392',
 '150965543',
 '150521077',
 '150716131',
 '150882455',
 '150919303',
 '150857686',
 '150609088',
 '150959877',
 '148255275',
 '149782808',
 '48902641',
 '150046318',
 '150288474',
 '150796106',
 '150412574',
 '149408532',
 '148820678',
 '147471757',
 '148689932',
 '136694481',
 '150240755',
 '150097714',
 '150768592',
 '49549585',
 '150601632',
 '48904286',
 '148053764',
 '149782811',
 '149782795',
 '50192443',
 '144380567',
 '150728235',
 '150973444',
 '139175915',
 '138125476',
 '150126125',
 '149773978',
 '150101949',
 '149712465',
 '150296850',
 '150300672',
 '148887547',
 '148672786',
 '150253897',
 '150907371',
 '150963978',
 '149327524',
 '150047676',
 '149468142',
 '37580368',
 '26309806',
 '150699779',
 '150861062',
 '142254440',
 '150231878',
 '150578948',
 '51782639',
 '150426613',
 '149821406',
 '149861686',
 '150631966',
 '150677144',
 '149782803',
 '49094436',
 '48902651',
 '139190472',
 '150475470',
 '149930756',
 '149311866',
 '148633624',
 '150049090',
 '48903171',
 '148961653',
 '145205143',
 '150149866',
 '150149867',
 '150464350',
 '150635170',
 '150903469',
 '150425016',
 '150877089',
 '149931516',
 '43472315',
 '148282730',
 '149555669',
 '150684834',
 '150531901',
 '149670352',
 '139715187',
 '149396952',
 '49724829',
 '150828385',
 '150196218',
 '147695889',
 '150593199',
 '150234018',
 '149725676',
 '150454619',
 '150882489',
 '48892501',
 '150593185',
 '149725677',
 '150454328',
 '48915301',
 '148413638',
 '148317171',
 '150858235',
 '150946239',
 '150781938',
 '149766334',
 '144453677',
 '150531109',
 '140962501',
 '150046369',
 '150778260',
 '149724140',
 '150367451',
 '150768586',
 '49051224',
 '140888694',
 '150677141',
 '144872471',
 '146577191',
 '149512356',
 '149594234',
 '148282623',
 '149815814',
 '149779478',
 '144148185',
 '150319162',
 '150692600',
 '150434704',
 '150434548',
 '150412174',
 '150891820',
 '150638613',
 '149265918',
 '150562801',
 '150609089',
 '150875014',
 '150875060',
 '149221530',
 '148583199',
 '150932341',
 '147907726',
 '150626793',
 '149409683',
 '150713443',
 '149473303',
 '150962157',
 '150454268',
 '142254442',
 '149782792',
 '150318680',
 '148794717',
 '150428042',
 '139538422',
 '48915161',
 '150768587',
 '150822412',
 '150726022',
 '149011461',
 '150110820',
 '150374973',
 '150057816',
 '150486233',
 '149796813',
 '140763298',
 '37965304',
 '150824806']

In [173]:
len(links)

812

Итого вытащили 812 квартир по ЦАО

### Переход на первую из них

In [174]:
flat_url = 'http://www.cian.ru/sale/flat/' + str(links[0]) + '/'
#flat_url = 'http://www.cian.ru/sale/flat/150531912/' 
flat_page = requests.get(flat_url)
flat_page = flat_page.content
flat_page = BeautifulSoup(flat_page, 'lxml')

In [175]:
flatStats['District']+=[0] #работаем с ЦАО

# Цена

In [176]:
price = flat_page.find('div', attrs={'class':'object_descr_price'})
price = re.split('<div>|за м<sup>2</sup>|\n|руб|\W', str(price))

In [177]:
print(price)

['', 'div', 'class', '', 'object_descr_price', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '129', '000', '000', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'div', '']

In [178]:
[i for i in price if i.isdigit()][-3:]

['129', '000', '000']

In [179]:
"".join([i for i in price if i.isdigit()][-3:])

'129000000'

In [180]:
price = "".join([i for i in price if i.isdigit()][-3:])

In [181]:
def getPrice(flat_page):
    price = flat_page.find('div', attrs={'class':'object_descr_price'})
    price = re.split('<div>|руб|\W', str(price))
    price = "".join([i for i in price if i.isdigit()][-3:])
    return int(price)

In [182]:
getPrice(flat_page)

129000000

In [183]:
flatStats['Price'] = [] #список под хранение цен на квартиры
flatStats['Price'] += [getPrice(flat_page)]

# Координаты местонахождения квартир

In [184]:
flat_page.find('div', attrs={'class':'map_info_button_extend'}).contents[1]

<a href="http://map.cian.ru/?deal_type=2&amp;flats=yes&amp;center=55.730426%2C37.574067&amp;room0=1&amp;room1=1&amp;room2=1&amp;room3=1" rel="nofollow" target="_blank"><i></i>Посмотреть предложения рядом</a>

In [185]:
coords = flat_page.find('div', attrs={'class':'map_info_button_extend'}).contents[1]
coords = re.split('&amp|center=|%2C', str(coords))
coords_list = []
for item in coords:
    if item[0].isdigit():
        coords_list.append(item)
lat = float(coords_list[0])
lon = float(coords_list[1])

In [186]:
lat, lon

(55.730426, 37.574067)

In [187]:
def getCoords(flat_page):
    coords = flat_page.find('div', attrs={'class':'map_info_button_extend'}).contents[1]
    coords = re.split('&amp|center=|%2C', str(coords))
    coords_list = []
    for item in coords:
        if item[0].isdigit():
            coords_list.append(item)
    lat = float(coords_list[0]) #широта
    lon = float(coords_list[1]) #долгота
    return lat, lon

In [188]:
getCoords(flat_page)

(55.730426, 37.574067)

# Расстояние от квартиры до центра Москвы(в км)

**Положим, что центром Москвы является Красная площадь**.

Её координаты:

широта: **55.753594**;

долгота: **37.622601**.

Так как площадь поверхности, занимаемой Москвой, мала по сравнению с площадью поверхности Земли, то при расчёте расстояний от квартиры до Красной площади кривизной поверхности можно пренебречь. Т.е. поверхность, занимаемая Москвой, -- это плоскость.

In [189]:
#Радиус Земли, в км 
R = 6371.0
#Географические координаты Красной Площади
lat_RS = 55.753594
lon_RS = 37.622601

Географические координаты тесно связаны со сферическими координатами, а сферические -- с декартовыми.

Переход от географических координат к декартовым координатам:

In [190]:
x = R*sin(radians(lat))*cos(radians(lon))
y = R*sin(radians(lat))*sin(radians(lon))
#координату z не рассматриваем в силу предположения о не кривизне поверхности

In [191]:
#Декартовы координаты Красной площади
x_RS = R*sin(radians(lat_RS))*cos(radians(lon_RS))
y_RS = R*sin(radians(lat_RS))*sin(radians(lon_RS))

In [192]:
#искомое расстояние, в км
distance = sqrt(((x - x_RS)**2) + ((y - y_RS)**2))

In [193]:
distance

4.6902797956608495

In [194]:
def Dist(flat_page):
    #Радиус Земли, в км 
    R = 6371.0
    #Географические координаты Красной Площади
    lat_RS = 55.753594
    lon_RS = 37.622601
    
    coords = flat_page.find('div', attrs={'class':'map_info_button_extend'}).contents[1]
    coords = re.split('&amp|center=|%2C', str(coords))
    coords_list = []
    for item in coords:
        if item[0].isdigit():
            coords_list.append(item)
    lat = float(coords_list[0]) 
    lon = float(coords_list[1]) 
    
    x = R*sin(radians(lat))*cos(radians(lon))
    y = R*sin(radians(lat))*sin(radians(lon))
    x_RS = R*sin(radians(lat_RS))*cos(radians(lon_RS))
    y_RS = R*sin(radians(lat_RS))*sin(radians(lon_RS))
    
    return  sqrt(((x - x_RS)**2) + ((y - y_RS)**2))

In [195]:
Dist(flat_page)

4.6902797956608495

In [196]:
#Список под хранение расстояний до центра
flatStats['Dist'] = [] 
flatStats['Dist'] += [Dist(flat_page)]

# Число комнат

In [197]:
rooms = flat_page.find('div', attrs={'class':'object_descr_title'})

In [198]:
rooms

<div class="object_descr_title" itemprop="name">


        3-комн. кв.




                        в <a href="/zhiloy-kompleks-fyuzhn-park-moskva-5392/" target="_blank">ЖК «Фьюжн парк»</a>
</div>

In [199]:
rooms = html_stripper(rooms)

In [200]:
rooms

'\n                \n    \n        3-комн. кв.\xa0\n    \n\n                \n                    \n                        в\xa0ЖК «Фьюжн парк»\n'

In [201]:
room_number = ''
for i in re.split('-|\n', rooms):
    if 'комн' in i:
        break
    else:
        room_number += i
room_number = "".join(room_number.split())

In [202]:
room_number

'3'

In [203]:
def getRoom(flat_page):
    rooms = flat_page.find('div', attrs={'class':'object_descr_title'})
    rooms = html_stripper(rooms)
    room_number = ''
    for i in re.split('-|\n', rooms):
        if 'комн' in i:
            break
        else:
            room_number += i
    room_number = "".join(room_number.split())
    try:
        return int(room_number)
    except:
        return '-' #в случае, если на странице не оказалась информация о числе комнат в квартире

In [204]:
getRoom(flat_page)

3

In [205]:
#Список под хранение числа комнат
flatStats['Rooms'] = [] 
flatStats['Rooms'] += [getRoom(flat_page)]

# Расстояние до метро в минутах

In [206]:
metrdist = flat_page.find('span', attrs={'class':'object_item_metro_comment'})

In [207]:
metrdist

<span class="object_item_metro_comment">
                8
                мин.

                    пешком

            </span>

In [208]:
metrdist = html_stripper(metrdist)

In [209]:
metrdist

'\n                8\n                мин.\n                \n                    пешком\n                \n            '

In [210]:
#разбиение строки metrdist
metrdist.split()

['8', 'мин.', 'пешком']

In [211]:
#Ищем расстояние до метро
for i in metrdist.split():
    if i.isdigit():
        print(int(i))

8

In [212]:
def Metrdist(flat_page):
    metrdist = flat_page.find('span', attrs={'class':'object_item_metro_comment'})
    metrdist = html_stripper(metrdist)
    for i in metrdist.split():
        if i.isdigit():
            return int(i)
        else:
            return '-' #в случае, если отсутствует информация о времени

In [213]:
Metrdist(flat_page)

8

In [214]:
#Список под хранение расстояния до метро в минутах.
flatStats['Metrdist'] = [] 
flatStats['Metrdist'] += [Metrdist(flat_page)]

# Расстояние до метро, если пешком

In [215]:
def Walk(flat_page):
    walk = flat_page.find('span', attrs={'class':'object_item_metro_comment'})
    walk = html_stripper(walk)
    if "пешком" in walk:
        return 1
    else:
        return 0

In [216]:
Walk(flat_page)

1

In [217]:
#Список под хранение результата предиката [расстояния до метро,если пешком].
flatStats['Walk'] = [] 
flatStats['Walk'] += [Walk(flat_page)]

# Общая информация о квартире

In [218]:
table = flat_page.find('table', attrs = {'class':'object_descr_props'})

In [219]:
table = html_stripper(table)

In [220]:
print(html_stripper(table)) #регулярные выражения для очистки от HTML-кода нам в помощь

 # Общая информация:


Этаж:

                5 / 11




Тип дома:

            вторичка




Тип продажи:
свободная


Общая площадь:

138,4 м2



Площадь комнат:

–



Жилая площадь:

–



Площадь кухни:

–



Санузел:
–



Балкон:
–



Лифт:
1 пасс. + 1 груз.


Вид из окна:
двор и улица

### Номер этажа, на котором расположена квартира

In [221]:
table.split()

['#',
 'Общая',
 'информация:',
 'Этаж:',
 '5',
 '/',
 '11',
 'Тип',
 'дома:',
 'вторичка',
 'Тип',
 'продажи:',
 'свободная',
 'Общая',
 'площадь:',
 '138,4',
 'м2',
 'Площадь',
 'комнат:',
 '–',
 'Жилая',
 'площадь:',
 '–',
 'Площадь',
 'кухни:',
 '–',
 'Санузел:',
 '–',
 'Балкон:',
 '–',
 'Лифт:',
 '1',
 'пасс.',
 '+',
 '1',
 'груз.',
 'Вид',
 'из',
 'окна:',
 'двор',
 'и',
 'улица']

In [222]:
#Ищем слово "Этаж" в общей информации о квартире
for i in range(len(table.split())):
    if "Этаж" in table.split()[i]: 
        print(table.split()[i+1])

5

In [223]:
#Объявление и определение функции, возвращающей номер этажа, на котором расположена квартира 
def getFloor(flat_page):
    table = flat_page.find('table', attrs = {'class':'object_descr_props'})
    table = html_stripper(table)
    for i in range(len(table.split())):
        if "Этаж:" in table.split()[i]: 
            return int(table.split()[i+1])  #следующий элемент в списке после "Этаж" -- это номер этажа, на котором находится квартира
    
    #вдруг оказалось так, что нет информации об этаже
    if "Этаж:" not in table.split():
        return '-'

In [224]:
getFloor(flat_page)

5

In [225]:
#Список под хранение номера этажа, на котором расположена квартира
flatStats['Floor'] = []
flatStats['Floor'] +=[getFloor(flat_page)]

### Всего этажей в доме

In [226]:
#Объявление и определение функции, возвращающей общее количество этажей в доме 
def getNfloors(flat_page):
    table = flat_page.find('table', attrs = {'class':'object_descr_props'})
    table = html_stripper(table)
    for i in range(len(table.split())):
        if "Этаж:" in table.split()[i]: 
            try:
                return int(table.split()[i+3])  #третий элемент в списке после "Этаж" -- это общее количество этажей в доме
            except:
                return '-'
    #вдруг оказалось так, что нет информации об этаже или вообще отсутствует такое поле
    if "Этаж:" not in table.split():
        return '-'

In [227]:
getNfloors(flat_page)

11

In [228]:
#Список под хранение количество этажей в доме
flatStats['Nfloors'] = []
flatStats['Nfloors'] +=[getNfloors(flat_page)]

### Тип дома: первичный рынок - 1,  вторичка - 0

In [229]:
#Проверяем, в каком рынке находится дом
if "вторичка" in table:
    print(1)
else:
    print(0)

1

In [230]:
def is_New(flat_page):
    table = flat_page.find('table', attrs = {'class':'object_descr_props'})
    table = html_stripper(table)
    if "вторичка" in table:
        return 1
    else:
        return 0

In [231]:
is_New(flat_page)

1

In [232]:
#Список под хранение информации о том, в каком рынке находится дом
flatStats['New'] = []
flatStats['New'] += [is_New(flat_page)]

### Балкон/лоджия

In [233]:
table.split()

['#',
 'Общая',
 'информация:',
 'Этаж:',
 '5',
 '/',
 '11',
 'Тип',
 'дома:',
 'вторичка',
 'Тип',
 'продажи:',
 'свободная',
 'Общая',
 'площадь:',
 '138,4',
 'м2',
 'Площадь',
 'комнат:',
 '–',
 'Жилая',
 'площадь:',
 '–',
 'Площадь',
 'кухни:',
 '–',
 'Санузел:',
 '–',
 'Балкон:',
 '–',
 'Лифт:',
 '1',
 'пасс.',
 '+',
 '1',
 'груз.',
 'Вид',
 'из',
 'окна:',
 'двор',
 'и',
 'улица']

In [234]:
#Функция, отвечающая на вопрос: есть ли в доме балкон/лоджия?
def is_there_Bal(flat_page):
    table = flat_page.find('table', attrs = {'class':'object_descr_props'})
    table = html_stripper(table)
    for i in range(len(table.split())):
        if "Балкон:" in table.split()[i]: 
            try:
                int(table.split()[i+1])
                return 1
            except:
                return 0
    #вдруг оказалось так, что нет информации об этаже или вообще отсутствует такое поле
    if "Балкон:" not in table.split():
        return '-'

In [235]:
is_there_Bal(flat_page)

0

In [236]:
#Cписок под хранение информации о наличии балконов/лоджей  
flatStats['Bal'] = []
flatStats['Bal'] += [is_there_Bal(flat_page)]

### Наличие домашнего телефона в доме

In [237]:
def is_there_Tel(flat_page):
    table = flat_page.find('table', attrs = {'class':'object_descr_props'})
    table = html_stripper(table)
    for i in range(len(table.split())):
        if "Телефон:" in table.split()[i]: 
            if table.split()[i+1]=='да':
                return 1
            else:
                return 0
    #вдруг оказалось так, что нет информации об этаже или вообще отсутствует такое поле
    if "Телефон:" not in table.split():
        return '-'

In [239]:
is_there_Tel(flat_page)

'-'

In [240]:
#Cписок под хранение информации о наличии телефона
flatStats['Tel'] = []
flatStats['Tel'] += [is_there_Tel(flat_page)]

### Тип дома

In [241]:
def is_Brick(flat_page):
    table = flat_page.find('table', attrs = {'class':'object_descr_props'})
    table = html_stripper(table)
    if "кирпичный" in table:
        return 1
    elif "монолитный" in table:
        return 1
    elif "железобетонный" in table:
        return 1
    else:
        return 0

In [242]:
is_Brick(flat_page)

0

In [243]:
#Cписок под хранение информации о типе дома
flatStats['Brick'] = []
flatStats['Brick'] += [is_Brick(flat_page)]

### Общая площадь квартиры

In [244]:
area_total_not_num = re.split('Общая площадь:|м2', table)[1]

In [245]:
#Преобразование общей площади к float
if ',' in area_total_not_num:
    area_total_not_num  = area_total_not_num.replace(',','.')
try:
    area_total = float(area_total_not_num)
except:
    area_total = '-'

In [246]:
area_total

138.4

In [247]:
def Totsp(flat_page):
    table = flat_page.find('table', attrs = {'class':'object_descr_props'})
    table = html_stripper(table)
    
    area_total_not_num = re.split('Общая площадь:|м2', table)[1]

    if ',' in area_total_not_num:
        area_total_not_num  = area_total_not_num.replace(',','.')
    try:
        return float(area_total_not_num)
    except:
        return '-'  #вдруг, если отсутствует информация

In [248]:
Totsp(flat_page)

138.4

In [249]:
#Cписок под хранение общей площади
flatStats['Totsp'] = []
flatStats['Totsp'] += [Totsp(flat_page)]

### Жилая площадь квартиры

In [250]:
#Разбиение строки по 'Площадь', ':', 'м2'
re.split('Площадь|:|м2', table)

#Ищем "Жилая площадь" в разбиении, чтобы выйти на жилую площадь 
for i in range(len(re.split('Площадь|:|м2', table))):
    if "Жилая площадь" in re.split('Площадь|:|м2', table)[i]:
        area_live_not_num = re.split('Площадь|:|м2', table)[i+1] #жилая площадь в не числовом формате

In [251]:
area_live_not_num

'\n\n–\n        \n\n\n'

In [252]:
#Преобразование жилой площади к float
if ',' in area_live_not_num:
    area_live_not_num = area_live_not_num.replace(',','.')
try:
    area_live = float(area_live_not_num)
except:
    area_live = '-'

In [253]:
area_live

'-'

In [254]:
#Автоматизируем приведённые выше действия
def Livesp(flat_page):
    table = flat_page.find('table', attrs = {'class':'object_descr_props'})
    table = html_stripper(table)
    
    for i in range(len(re.split('Площадь|:|м2', table))):
        if "Жилая площадь" in re.split('Площадь|:|м2', table)[i]:
            area_live_not_num = re.split('Площадь|:|м2', table)[i+1]
    
    if ',' in area_live_not_num:
        area_live_not_num = area_live_not_num.replace(',','.')
    try:
        return float(area_live_not_num)
    except:
        return '-'

In [255]:
Livesp(flat_page)

'-'

In [256]:
#Cписок под хранение жилой площади
flatStats['Livesp'] = []
flatStats['Livesp'] += [Livesp(flat_page)]

### Площадь кухни

In [257]:
#Разбиение строки по 'площадь', ':', 'м2'
fragmentation = re.split('Площадь|:|м2', table)

In [258]:
print(fragmentation)

['\n\n # Общая информация', '\n\n\nЭтаж', '\n\n                5\xa0/\xa011\n                \n            \n\n\nТип дома', '\n\n            вторичка\n            \n        \n\n\nТип продажи', '\nсвободная\n\n\nОбщая площадь', '\n\n138,4\xa0', '\n\n\n\n', ' комнат', '\n\n–\n        \n\n\nЖилая площадь', '\n\n–\n        \n\n\n', ' кухни', '\n\n–\n        \n\n\nСанузел', '\n–\n        \n\n\nБалкон', '\n–\n        \n\n\nЛифт', '\n1 пасс. + 1 груз.\n\n\nВид из окна', '\nдвор и улица\n\n']

In [259]:
#Ищем слово "кухни" в fragmentation, чтобы выйти на площадь кухни
for i in range(len(fragmentation)):
    if "кухни" in fragmentation[i]:
        area_kit_not_num = fragmentation[i+1] #площадь кухни в не числовом формате

In [260]:
area_kit_not_num

'\n\n–\n        \n\n\nСанузел'

In [261]:
#Преобразование площади кухни к float
if ',' in area_kit_not_num:
    area_kit_not_num = area_kit_not_num.replace(',','.')
try:
    area_kit = float(area_kit_not_num)
except:
    area_kit = '-'

In [262]:
area_kit

'-'

In [263]:
#функция, которая проделывает приведенные выше действия
def Kitsp(flat_page):
    table = flat_page.find('table', attrs = {'class':'object_descr_props'})
    table = html_stripper(table)
    
    fragmentation = re.split('Площадь|:|м2', table)
    
    for i in range(len(fragmentation)):
        if "кухни" in fragmentation[i]:
            area_kit_not_num = fragmentation[i+1] #площадь кухни в не числовом формате
    
    if ',' in area_kit_not_num:
        area_kit_not_num = area_kit_not_num.replace(',','.')
    try:
        return float(area_kit_not_num)
    except:
        return '-'

In [264]:
 Kitsp(flat_page)

'-'

In [265]:
#Cписок под хранение площади кухни
flatStats['Kitsp'] = []
flatStats['Kitsp'] += [Kitsp(flat_page)]

# Данные о продаваемых квартирах (для одного окуруга)

## Функция как рабочий инструмент, который позволяет получать эти данные

In [283]:
#эта функция выполняет все приведенные выше действия для каждой из квартир, из каждого округа Москвы
def get_DATA_district(data,N_pages=30):
    #число рассматриваемых страниц с квартирами
    N_pages = 30
    
    #ЦАО
    if data == 'CAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=13&district%5B1%5D=14&district%5B2%5D=15&district%5B3%5D=16&district%5B4%5D=17&district%5B5%5D=18&district%5B6%5D=19&district%5B7%5D=20&district%5B8%5D=21&district%5B9%5D=22&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 0
    
    #САО
    if data =='SAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=23&district%5B10%5D=33&district%5B11%5D=34&district%5B12%5D=35&district%5B13%5D=36&district%5B14%5D=37&district%5B15%5D=38&district%5B1%5D=24&district%5B2%5D=25&district%5B3%5D=26&district%5B4%5D=27&district%5B5%5D=28&district%5B6%5D=29&district%5B7%5D=30&district%5B8%5D=31&district%5B9%5D=32&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 1
    
    #СВАО
    if data == 'SVAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=39&district%5B10%5D=49&district%5B11%5D=50&district%5B12%5D=51&district%5B13%5D=52&district%5B14%5D=53&district%5B15%5D=54&district%5B16%5D=55&district%5B1%5D=40&district%5B2%5D=41&district%5B3%5D=42&district%5B4%5D=43&district%5B5%5D=44&district%5B6%5D=45&district%5B7%5D=46&district%5B8%5D=47&district%5B9%5D=48&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 2
    
    #ВАО
    if data == 'VAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=56&district%5B10%5D=66&district%5B11%5D=67&district%5B12%5D=68&district%5B13%5D=69&district%5B14%5D=70&district%5B15%5D=71&district%5B1%5D=57&district%5B2%5D=58&district%5B3%5D=59&district%5B4%5D=60&district%5B5%5D=61&district%5B6%5D=62&district%5B7%5D=63&district%5B8%5D=64&district%5B9%5D=65&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 3
    
    #ЮВАО
    if data == 'UVAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=72&district%5B10%5D=82&district%5B11%5D=83&district%5B1%5D=73&district%5B2%5D=74&district%5B3%5D=75&district%5B4%5D=76&district%5B5%5D=77&district%5B6%5D=78&district%5B7%5D=79&district%5B8%5D=80&district%5B9%5D=81&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 4
    
    #ЮАО
    if data == 'UAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=84&district%5B10%5D=94&district%5B11%5D=95&district%5B12%5D=96&district%5B13%5D=97&district%5B14%5D=98&district%5B15%5D=99&district%5B1%5D=85&district%5B2%5D=86&district%5B3%5D=87&district%5B4%5D=88&district%5B5%5D=89&district%5B6%5D=90&district%5B7%5D=91&district%5B8%5D=92&district%5B9%5D=93&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 5
        
    #ЮЗАО
    if data == 'UZAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=100&district%5B10%5D=110&district%5B11%5D=111&district%5B1%5D=101&district%5B2%5D=102&district%5B3%5D=103&district%5B4%5D=104&district%5B5%5D=105&district%5B6%5D=106&district%5B7%5D=107&district%5B8%5D=108&district%5B9%5D=109&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 6
    
    #ЗАО
    if data == 'ZAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=112&district%5B10%5D=122&district%5B11%5D=123&district%5B12%5D=124&district%5B13%5D=348&district%5B14%5D=349&district%5B15%5D=350&district%5B1%5D=113&district%5B2%5D=114&district%5B3%5D=115&district%5B4%5D=116&district%5B5%5D=117&district%5B6%5D=118&district%5B7%5D=119&district%5B8%5D=120&district%5B9%5D=121&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 7
   
    #СЗАО
    if data == 'SZAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=125&district%5B1%5D=126&district%5B2%5D=127&district%5B3%5D=128&district%5B4%5D=129&district%5B5%5D=130&district%5B6%5D=131&district%5B7%5D=132&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 8
    
    #НАО
    if data == 'NAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=327&district%5B10%5D=337&district%5B1%5D=328&district%5B2%5D=329&district%5B3%5D=330&district%5B4%5D=331&district%5B5%5D=332&district%5B6%5D=333&district%5B7%5D=334&district%5B8%5D=335&district%5B9%5D=336&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 9
    
    #ТАО
    if data == 'TAO':
        district = 'http://www.cian.ru/cat.php?deal_type=sale&district%5B0%5D=338&district%5B1%5D=339&district%5B2%5D=340&district%5B3%5D=341&district%5B4%5D=342&district%5B5%5D=343&district%5B6%5D=344&district%5B7%5D=345&district%5B8%5D=346&district%5B9%5D=347&engine_version=2&offer_type=flat&p={}&room1=1&room2=1&room3=1&room4=1&room5=1&room6=1'
        #числовое обозначение для округа
        district_encode = 10
        
    #Ссылки на квартиры
    links = []
    
    #Вытаскиваем ссылки на описание квартир
    for page in range(1, N_pages): #количество квартир по каждому округу пропорционально параметру N_pages
        page_url =  district.format(page)
        
        search_page = requests.get(page_url)
        search_page = search_page.content
        search_page = BeautifulSoup(search_page, 'lxml')

        flat_urls = search_page.findAll('div', attrs = {'ng-class':"{'serp-item_removed': offer.remove.state, 'serp-item_popup-opened': isPopupOpen}"})
        flat_urls = re.split('http://www.cian.ru/sale/flat/|/" ng-class="', str(flat_urls))
        
        for link in flat_urls:
            if link.isdigit():
                links.append(link)
            
    flatStats['District']= []
    flatStats['Price'] = []
    flatStats['Rooms'] = []
    flatStats['Totsp'] = []
    flatStats['Kitsp'] = []
    flatStats['Livesp'] = []
    flatStats['Dist'] = [] 
    flatStats['Metrdist'] = [] 
    flatStats['Walk'] = []
    flatStats['Floor'] = [] 
    flatStats['Nfloors'] = [] 
    flatStats['New'] = []
    flatStats['Bal'] = []
    flatStats['Tel'] = []
    flatStats['Brick'] = []

    for i in range(len(links)):
        flat_url = 'http://www.cian.ru/sale/flat/' + str(links[i]) + '/'
        flat_page = requests.get(flat_url)
        flat_page = flat_page.content
        flat_page = BeautifulSoup(flat_page, 'lxml')
    
        flatStats['District'] += [district_encode]
        flatStats['Price'] += [getPrice(flat_page)]
        flatStats['Rooms'] += [getRoom(flat_page)]
        flatStats['Totsp'] += [Totsp(flat_page)]
        flatStats['Kitsp'] += [Kitsp(flat_page)]
        flatStats['Livesp'] += [Livesp(flat_page)]
        flatStats['Dist'] += [Dist(flat_page)] 
        flatStats['Metrdist'] += [Metrdist(flat_page)] 
        flatStats['Walk'] += [Walk(flat_page)]
        flatStats['Floor'] +=[getFloor(flat_page)] 
        flatStats['Nfloors'] +=[getNfloors(flat_page)] 
        flatStats['New'] += [is_New(flat_page)]
        flatStats['Bal'] += [is_there_Bal(flat_page)]
        flatStats['Tel'] += [is_there_Tel(flat_page)]
        flatStats['Brick'] += [is_Brick(flat_page)]
        
    #Данные возвращаются в формате DataFrame
    return pd.DataFrame(flatStats, columns=['District','Price','Rooms','Totsp','Livesp','Kitsp','Brick','Floor','Nfloors','Dist','Metrdist','Walk','Bal','Tel','New']) #в нумеровнии строк проблема

В этой функции аргумент data может принимать следующие значения:

In [284]:
data = ['CAO', 'SAO', 'SVAO', 'VAO', 'UVAO','UAO','UZAO','ZAO','SZAO','NAO','TAO'] # сокращённое названия округов на латинице

# Данные о продаваемых квартирах со всех округов Москвы

In [285]:
#Выгрузка данных в формате DataFrame
INFO_about_selling_floats = pd.concat([get_DATA_district('CAO'), get_DATA_district('SAO'),get_DATA_district('SVAO'),get_DATA_district('VAO'),get_DATA_district('UVAO'),get_DATA_district('UAO'), get_DATA_district('UZAO'),get_DATA_district('ZAO'),get_DATA_district('SZAO'),get_DATA_district('NAO'), get_DATA_district('TAO')])

In [286]:
#Порядковые номера квартиры
N = pd.DataFrame(np.arange(1, len(INFO_about_selling_floats)+1), columns =['N'])
#Добавим в DataFrame порядковый номер квартиры
INFO_about_selling_floats = pd.concat([N,INFO_about_selling_floats],1)

# Наши данные о квартирах Москвы

In [287]:
INFO_about_selling_floats

,N,District,Price,Rooms,Totsp,Livesp,Kitsp,Brick,Floor,Nfloors,Dist,Metrdist,Walk,Bal,Tel,New
0,1,10,2580996,1,38.4,17.7,10.5,0,1,5,36.416321,35,0,0,-,0
1,2,10,3604279,2,56.4,36.5,7.8,0,2,5,36.416321,35,0,0,-,0
2,3,10,8500000,4,146.8,90.9,15.2,1,4,5,32.913593,-,0,1,-,1
3,4,10,1850000,1,33.4,17.6,7.9,1,1,3,66.664621,30,0,0,-,0
4,5,10,1900000,1,34.8,18.1,10.8,0,2,3,66.664621,-,0,0,-,0
5,6,10,2000000,1,35.0,18,10,1,3,3,66.664621,20,0,1,-,0
6,7,10,2070000,1,43.0,41.5,-,1,1,3,66.664621,30,0,1,-,0
7,8,10,2499000,1,42.0,19.4,11.6,1,3,4,61.057861,-,0,1,-,1
8,9,10,2608025,1,38.4,17.7,10.5,0,1,5,36.416321,35,0,0,-,0
9,10,10,2750000,2,56.2,55,-,1,1,3,66.664621,30,1,0,-,0
10,11,10,2750000,1,28.0,16,4,1,15,16,72.318351,-,0,1,-,1
11,12,10,2783366,1,40.5,14.1,10.6,0,1,5,36.416321,35,0,0,-,0
12,13,10,2800000,1,39.1,20,-,1,5,5,36.261507,-,0,1,-,0
13,14,10,2900000,1,35.0,17,9,0,1,5,39.546242,-,0,0,0,1
14,15,10,2900000,3,47.0,33,6,0,1,5,31.809747,-,0,0,-,1
15,16,10,3000000,1,32.0,18,6,0,5,5,65.016466,-,0,1,-,1
16,17,10,3100000,1,31.0,18,6,0,1,5,64.840275,-,0,1,-,1
17,18,10,3200000,2,43.0,25,6,1,2,4,44.470140,-,0,1,-,1
18,19,10,3290000,1,45.0,20,10,1,12,17,72.238845,-,0,1,0,1
19,20,10,3300000,2,38.0,24.1,6.5,0,3,5,72.251643,-,0,1,-,1
20,21,10,3320000,3,75.5,74,-,1,1,3,66.664621,30,0,1,-,0
21,22,10,3350000,1,30.0,18,6,0,9,9,71.924190,-,0,1,-,1
22,23,10,3400000,1,38.2,19,9,0,3,5,65.502185,-,0,1,-,1
23,24,10,3400000,1,30.0,18,6.5,0,9,9,72.121565,-,0,1,-,1
24,25,10,3450000,1,41.0,21,11,1,11,16,72.393742,30,0,1,-,1
25,26,10,3500000,1,32.0,16,8,1,2,4,44.656929,20,0,1,-,1
26,27,10,3500000,1,31.0,17,7,1,2,4,29.090238,30,0,1,0,1
27,28,10,3500000,1,30.0,18,6,0,1,5,71.818778,-,0,0,-,1
28,29,10,8500000,4,146.8,90.9,15.2,1,4,5,32.913593,-,0,1,-,1
29,30,10,3604279,2,56.4,36.5,7.8,0,2,5,36.416321,35,0,0,-,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
782,783,10,3700000,2,52.0,32,8,0,5,5,50.399961,-,0,1,0,1
783,784,10,3720000,3,75.5,74.2,-,1,2,3,66.664621,30,0,1,-,0
784,785,10,2600000,2,54.0,32,10,1,2,4,66.661426,40,0,1,0,1
785,786,10,8500000,4,146.8,90.9,15.2,1,4,5,32.913593,-,0,1,-,1
786,787,10,2580996,1,38.4,17.7,10.5,0,1,5,36.416321,35,0,0,-,0
787,788,10,3750000,1,43.0,41.8,-,1,2,4,44.574123,-,0,1,0,1
788,789,10,3790000,2,59.0,37,12,1,12,19,32.667838,-,0,1,-,0
789,790,10,3800000,2,45.4,30,6,1,3,4,38.306702,-,0,1,0,1
790,791,10,3800000,1,31.9,21,10,1,2,3,44.721910,-,0,1,-,1
791,792,10,3800000,2,44.0,28,6,0,2,5,45.269324,-,0,1,-,1
792,793,10,3900000,1,47.0,20,13,1,6,9,28.505699,40,0,1,-,1
793,794,10,3950000,1,34.0,18,7,0,5,12,33.736685,20,0,1,1,1
794,795,10,3990000,1,31.0,16.7,6.6,1,2,5,34.242126,30,0,1,1,1
795,796,10,4000000,1,43.0,21,10,1,3,3,44.917141,20,0,1,0,1
796,797,10,4065000,3,75.5,74,-,1,2,3,66.664621,30,0,1,-,0
797,798,10,4100000,3,59.0,41,6,0,1,5,39.422874,-,0,0,-,1
798,799,10,4100000,3,56.0,40,7,0,4,5,45.328103,-,0,1,1,1
799,800,10,4100000,2,41.0,25,6,1,4,4,38.306702,-,0,1,0,1
800,801,10,4100000,1,39.5,18,10,0,7,17,33.334570,25,0,1,1,1
801,802,10,4100000,1,36.9,18,9,0,2,16,34.837578,-,0,1,0,1
802,803,10,4100000,1,38.0,19,10,0,11,12,34.335902,-,0,1,-,1
803,804,10,4150000,1,32.8,17.4,6,0,9,9,34.732669,-,0,0,-,1
804,805,10,4150000,1,34.5,19.5,10,0,4,12,34.302769,35,0,1,0,1
805,806,10,4200000,3,59.0,40.4,7,1,1,2,29.182934,-,0,0,0,1
806,807,10,4200000,1,50.0,22,10,1,3,4,40.244935,-,0,1,-,0
807,808,10,4200000,1,40.0,18,9.6,0,2,16,34.011845,-,0,1,-,1
808,809,10,4200000,3,72.0,42,13,1,2,3,66.643433,-,0,1,-,0
809,810,10,4250000,2,53.6,28,10,1,4,4,40.350460,-,0,1,1,1
810,811,10,4250000,1,45.2,16,11,1,1,3,44.801885,20,0,1,0,1
811,812,10,4258020,3,80.3,52.3,8.4,1,1,4,61.162781,-,0,1,-,1

# Cохраняем данные в формате сsv

In [290]:
INFO_about_selling_floats.to_csv(r"D:\\CMF\Парсинг ЦИАНа\parsing.csv", index = False) #здесь Вы должны указать свой путь, куда Вы хотите сохранить файл